# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.env/
.venv/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Datos pesados
data/raw/*
data/external/*

# Mantener README dentro de data
!data/README.md

# Permitir carpetas vacias con .gitkeep
!data/raw/.gitkeep
!data/external/.gitkeep
!data/processed/.gitkeep

# Archivos temporales de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk

# Archivos temporales de Office
~$*

# Resultados externos demasiado pesados para GitHub
results/tables/externo/external_roi_day_features.csv

# Sistema operativo
.DS_Store
Thumbs.db
